# vi: set ft=config :

# Menu functions
[m]control_menu(up)     <C-k>
[m]control_menu(down)   <C-j>
[m]control_menu(select) <C-l>

# Reader functions
noop                    q
screen_up               <C-u>
screen_down             <C-d>
zoom_in                 <C-+>
zoom_out                <C-->
open_document_embedded  <C-<space>>
